<table class="table">
  <thead>
    <tr>
      <th>Number</th>
      <th>Text</th>
      <th>Color</th>
      <th>User</th>
      <th>Ideation session</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @ideas %>
  </tbody>
</table>