 <li class="<%= (@themes.first == theme) ? "active" : "" %>">
 	<a data-toggle="tab" href="#tab-1" class=""><%= theme.name %></a>
 	<%= link_to theme,  class: "absolute-top-right remove-button", method: :delete, data: { confirm: 'Are you sure?' } do %>X<% end %>
 </li>
