<%if notice!=nil %>
  <div class="alert alert-success">
    <p id="notice"><%= notice %></p>
  </div>
<%end%>

<h1>Listing Themes</h1>

<%= render 'partial_index' %>

<br>

<%= link_to 'New Theme', new_ideation_session_theme_path %>
