<%= form_for([@ideation_session, @ideation_session.participants.build], :html => {class: "form-inline"}) do |f| %>
  <% if @ideation_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ideation_session.errors.count, "error") %> prohibited this participant from being saved:</h2>
      <ul>
      <% @ideation_session.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.text_field :email, placeholder: :email, class: "form-control", required: true %>
  </div>

  <br>
  <button class="btn btn-sm btn-primary  m-t-n-xs" type="submit"><strong>Invite Participant</strong></button>
  <br>
  <br>
<% end %>

