<tr>
  <td>
    <% if participant.active? %>
      <i class='fa fa-check text-navy'></i>
    <% else %>
      <i class="fa fa-circle text-danger"></i>
    <% end %>
  </td>
  <td><%= participant.email %></td>
  <td>
    <% if current_user.id != participant.user_id %> 
      <%= link_to '', participant, method: :delete, data: { confirm: 'Are you sure?' }, title: "Delete", class: "glyphicon glyphicon-remove" %>        
    <% end %>
  </td>
</tr>
    
