<%= image_tag("logo.png", :alt => "logo") %>
<span class="brand">
	PLINK
</span>
<%= link_to 'Sessoes de Ideação', ideation_sessions_path %>
<%= link_to 'Sessoes de Ideação', ideation_sessions_path %>
