<section>
	<div class="container">
	<%= image_tag("logo.png", :alt => "logo") %>
	<span class="brand">
		PLINK
	</span>
	 <% if current_user %>
	 <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

	Link para ideation_sessions asdasdasda

	<% else %>
		<%= link_to('Login', new_user_session_path) %>
	<% end %>
	</div>
</section>