<% if current_user.id==@ideation_session.user_id %>
  <div class="btn-group themes-box">
    <button data-toggle="dropdown" class="btn btn-white dropdown-toggle">Theme <span class="caret"></span></button>
    <ul class="dropdown-menu">
       <% @themes.each do |theme| %>
        <li><%= link_to theme.name, '#', onclick: "selectedIdeas('changetheme', #{theme.id})" %></li>
       <% end %>
    </ul>
  </div>
  
  <% if(@ideation_session.status_votation) %>
    <%= link_to '#', onclick: "selectedIdeas('voteideias', 0)", id: "btn_votes" , class: "btn btn-white", alt: "Vote selected ideas", title: "Vote selected ideas" do %>
      <i class="glyphicon glyphicon-inbox"></i>
    <% end %>
  <% end %>
  
  <%= link_to '#', onclick: "selectedIdeas('deleteideias', 0)", class: "btn btn-white", alt: "Delete selected ideas", title: "Delete selected ideas" do %>
    <i class="fa fa-trash-o"></i>
  <% end %>
  
<% else %>
  <% if(@ideation_session.status_votation) %>
    <%= link_to '#', onclick: "selectedIdeas('voteideias', 0)", id: "btn_votes", class: "btn btn-white", alt: "Vote selected ideas", title: "Vote selected ideas" do %>
      <i class="glyphicon glyphicon-inbox"></i>
    <% end %>
  <% end %>
<% end %>